@media screen and (max-width: 450px) {
    #aboutUs h1 {
        font-size: 2.5rem;
    }
    .aboutusSelector {
        width: 65%;
    }
    h2.carouselText {
        font-size: 1rem;
        margin: 1rem 0 0.5rem 0;
    }
    p.carouselText {
        font-size: 0.9rem;
    }
     :root {
        --car-distance-pos: 3rem;
        --car-distance-neg: -3rem;
    }
}

@media screen and (min-width: 450px) {
    #aboutUs h1 {
        font-size: 4rem;
    }
    .aboutusSelector {
        width: 50%;
    }
    h2.carouselText {
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem 0;
    }
     :root {
        --car-distance-pos: 5rem;
        --car-distance-neg: -5rem;
    }
}

@media screen and (min-width: 800px) {
    #aboutUs h1 {
        font-size: 6rem;
    }
    .aboutusSelector {
        width: 25rem;
    }
    h2.carouselText {
        font-size: 2rem;
        margin: 1rem 0 0.5rem 0;
    }
     :root {
        --car-distance-pos: 7rem;
        --car-distance-neg: -7rem;
    }
}


/*
    About us section
*/

#aboutUs>div {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutUs h1 {
    font-weight: 900;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    text-align: center;
}

#mainContent {
    min-height: 65vh;
}

.aboutusSelector img {
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
}


/*
    So,

    This is the carousel, the workings of it are described in the main.js file.
    I created this carousel with the use of keyframes, transform, and js.

    There are keyframes for,

    [1] When the images are first loaded in.
    [2] When the images are moved to the left.
    [3] When the images are moved to the right.
    [4] When the images are moved to the center.
    [5] When the images are loaded in from the stack.

    The stack is an array it contains the images that are hidden as only 3 images are visible at a time.
        [ img, img, img, img ] <-- The stack.
    left img, center img, right img

    as an image is pushed off one side, it's loaded into the appropriate side of the array.
    eg you click the left image in the carousel, causing the image that's in the center, to be pushed to the right,
    and the image that was in the right beforehand gets pushed into the right side of the array.

                       V-- That's the img we just added to the stack.
    [ img, img, img, img ] <-- The stack.

    as we moved that left image to the center, we now have an empty spot on the left side of the carousel,
    now we can load an image to fill in that empty spot by pulling it from the left side of the stack and then
    removing it from the stack.

        V-- That's the image we just loaded in from the stack.
    [ img, img, img, img ] <-- The stack.

    I won't go over the 150 lines, but ill go over every unique rule.

    scale(1), this transform changes the scales of the element, pretty self-explanatory.

    translateX() and translateY(), these two move the element in the x and y-axis accordingly.
    eg they used to move the elements to the left and right, up and down.
    you can set the values back to 0 and the element will return to its original position.

            y
            *
            *
            *
    x********
    
    rotateY(deg) this rotates the element in the y axis, I tried explaining this but I don't know how to make it sound good.
    literally, pick up any item, hold it up
    and turn your wrist, thas your Y,

    the z-index is like BOMDAS, it's an order of precedence, the higher the number, the higher the priority.
    eg you could have this.
    
    <img style='z-index: 50; position:absolute; top:0; left:0' src='./imgs/aboutus/1.jpg'>
    <img style='z-index: 100; position:absolute; top:0; left:0' src='./imgs/aboutus/2.jpg'>

    if IMG1 overlapped (EG if both had their position's set to absolute) onto IMG2 you'd expect IMG1 to still be visible,
    but since we have a higher z-index set for IMG2, The image that will still be visible is IMG2.
*/

#carousel {
    display: grid;
    transform: scale(0.9);
    transition: all 2s ease;
}

.carouselInvisable {
    opacity: 0;
}

.carouselVisable {
    opacity: 1;
}

#carousel div {
    grid-row: 1;
    grid-column: 1;
    transition: all 2000ms ease 7.47774ms;
}

.carouselSelected {
    z-index: 110;
    animation: start 2s forwards ease;
}

@keyframes start {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.15);
    }
}


/* LEFT */

.scaleInFromLeft {
    z-index: 100;
    animation: scaleInFromLeft 2s forwards;
}

@keyframes scaleInFromLeft {
    0% {
        transform: scale(1) translateX(var(--car-distance-neg)) rotateY(-180deg)
    }
    100% {
        transform: scale(1.15) translateX(0);
    }
}

.scaleOutToLeft {
    z-index: 90;
    transform: scale(1.15);
    animation: scaleOutToLeft 2s forwards;
}

@keyframes scaleOutToLeft {
    0% {
        transform: scale(1.15) translateX(0);
    }
    100% {
        transform: scale(1) translateX(var(--car-distance-neg)) rotateY(-180deg);
    }
}

.moveCenterFromLeft {
    z-index: 80;
    animation: moveCenterFromLeft 2s forwards;
}

@keyframes moveCenterFromLeft {
    0% {
        opacity: 1.0;
        transform: scale(1) translateX(var(--car-distance-neg)) rotateY(-180deg);
    }
    100% {
        opacity: 0.0;
        transform: scale(1) translateX(0rem);
    }
}

.moveLeftFromCenter {
    z-index: 90;
    animation: moveLeftFromCenter 2s forwards;
}

@keyframes moveLeftFromCenter {
    0% {
        opacity: 0.0;
        transform: scale(0.5) translateX(0rem);
    }
    100% {
        opacity: 1.0;
        transform: scale(1) translateX(var(--car-distance-neg)) rotateY(-180deg);
    }
}


/* RIGHT */

.scaleInFromRight {
    z-index: 100;
    animation: scaleInFromRight 2s forwards;
}

@keyframes scaleInFromRight {
    0% {
        transform: scale(1) translateX(var(--car-distance-pos)) rotateY(180deg);
    }
    100% {
        transform: scale(1.15) translateX(0);
    }
}

.scaleOutToRight {
    z-index: 90;
    transform: scale(1.15);
    animation: scaleOutToRight 2s forwards;
}

@keyframes scaleOutToRight {
    0% {
        transform: scale(1.15) translateX(0);
    }
    100% {
        transform: scale(1) translateX(var(--car-distance-pos)) rotateY(180deg);
    }
}

.moveCenterFromRight {
    z-index: 80;
    animation: moveCenterFromRight 2s forwards;
}

@keyframes moveCenterFromRight {
    0% {
        opacity: 1.0;
        transform: scale(1) translateX(var(--car-distance-pos)) rotateY(-180deg);
    }
    100% {
        opacity: 0.0;
        transform: scale(1) translateX(0rem);
    }
}

.moveRightFromCenter {
    z-index: 90;
    animation: moveRightFromCenter 2s forwards;
}

@keyframes moveRightFromCenter {
    0% {
        opacity: 0.0;
        transform: scale(0.5) translateX(0rem);
    }
    100% {
        opacity: 1.0;
        transform: scale(1) translateX(var(--car-distance-pos)) rotateY(180deg);
    }
}


/* FADE IN */

.fadeIn {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}


/* TEXT */

.carouselText {
    transition: all 2s ease;
}

span.carouselText {
    font-weight: 800;
    font-size: large;
    color: var(--font-color);
}

#carouselLeft .carouselText {
    opacity: 0;
}

#carouselRight .carouselText {
    opacity: 0;
}

#carouselCenter .carouselText {
    opacity: 1;
}

#carouselCenter .carouselImg {
    box-shadow: 0 0 1rem 0.5rem #00000030;
}

.carouselImg {
    transition: all 0.5s ease;
}

.carouselImg:hover {
    transform: scale(1.02);
}

.carouselImg:active {
    transform: scale(0.98);
}