@media screen and (max-width:450px) {
    #aboutUs h1 {
        font-size: 2.5rem
    }
    .aboutusSelector {
        width: 65%
    }
    h2.carouselText {
        font-size: 1rem;
        margin: 1rem 0 .5rem 0
    }
    p.carouselText {
        font-size: .9rem
    }
     :root {
        --car-distance-pos: 3rem;
        --car-distance-neg: -3rem
    }
}

@media screen and (min-width:450px) {
    #aboutUs h1 {
        font-size: 4rem
    }
    .aboutusSelector {
        width: 50%
    }
    h2.carouselText {
        font-size: 1.5rem;
        margin: 1rem 0 .5rem 0
    }
     :root {
        --car-distance-pos: 5rem;
        --car-distance-neg: -5rem
    }
}

@media screen and (min-width:800px) {
    #aboutUs h1 {
        font-size: 6rem
    }
    .aboutusSelector {
        width: 25rem
    }
    h2.carouselText {
        font-size: 2rem;
        margin: 1rem 0 .5rem 0
    }
     :root {
        --car-distance-pos: 7rem;
        --car-distance-neg: -7rem
    }
}

#aboutUs>div {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#aboutUs h1 {
    font-weight: 900;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    text-align: center
}

.aboutusSelector img {
    height: auto;
    width: 100%;
    border-radius: .5rem
}

#carousel {
    display: grid;
    transform: scale(0.9);
    transition: all 2s ease
}

.carouselInvisable {
    opacity: 0
}

.carouselVisable {
    opacity: 1
}

#carousel div {
    grid-row: 1;
    grid-column: 1;
    transition: all 2000ms ease 7.47774ms
}

.carouselSelected {
    z-index: 100;
    animation: start 2s forwards ease
}

@keyframes start {
    0% {
        transform: scale(0.9)
    }
    100% {
        transform: scale(1.15)
    }
}

.scaleInFromLeft {
    z-index: 100;
    animation: scaleInFromLeft 2s forwards
}

@keyframes scaleInFromLeft {
    0% {
        transform: scale(1) translateX(var(--car-distance-neg)) rotateY(-180deg)
    }
    100% {
        transform: scale(1.15) translateX(0)
    }
}

.scaleOutToLeft {
    z-index: 90;
    transform: scale(1.15);
    animation: scaleOutToLeft 2s forwards
}

@keyframes scaleOutToLeft {
    0% {
        transform: scale(1.15) translateX(0)
    }
    100% {
        transform: scale(1) translateX(var(--car-distance-neg)) rotateY(-180deg)
    }
}

.moveCenterFromLeft {
    z-index: 80;
    animation: moveCenterFromLeft 2s forwards
}

@keyframes moveCenterFromLeft {
    0% {
        opacity: 1.0;
        transform: scale(1) translateX(var(--car-distance-neg)) rotateY(-180deg)
    }
    100% {
        opacity: .0;
        transform: scale(1) translateX(0rem)
    }
}

.moveLeftFromCenter {
    z-index: 90;
    animation: moveLeftFromCenter 2s forwards
}

@keyframes moveLeftFromCenter {
    0% {
        opacity: .0;
        transform: scale(0.5) translateX(0rem)
    }
    100% {
        opacity: 1.0;
        transform: scale(1) translateX(var(--car-distance-neg)) rotateY(-180deg)
    }
}

.scaleInFromRight {
    z-index: 100;
    animation: scaleInFromRight 2s forwards
}

@keyframes scaleInFromRight {
    0% {
        transform: scale(1) translateX(var(--car-distance-pos)) rotateY(180deg)
    }
    100% {
        transform: scale(1.15) translateX(0)
    }
}

.scaleOutToRight {
    z-index: 90;
    transform: scale(1.15);
    animation: 2000ms ease 0ms 1 normal forwards running scaleOutToRight
}

@keyframes scaleOutToRight {
    0% {
        transform: scale(1.15) translateX(0)
    }
    100% {
        transform: scale(1) translateX(var(--car-distance-pos)) rotateY(180deg)
    }
}

.moveCenterFromRight {
    z-index: 80;
    animation: moveCenterFromRight 2s forwards
}

@keyframes moveCenterFromRight {
    0% {
        opacity: 1.0;
        transform: scale(1) translateX(var(--car-distance-pos)) rotateY(-180deg)
    }
    100% {
        opacity: .0;
        transform: scale(1) translateX(0rem)
    }
}

.moveRightFromCenter {
    z-index: 90;
    animation: moveRightFromCenter 2s forwards
}

@keyframes moveRightFromCenter {
    0% {
        opacity: .0;
        transform: scale(0.5) translateX(0rem)
    }
    100% {
        opacity: 1.0;
        transform: scale(1) translateX(var(--car-distance-pos)) rotateY(180deg)
    }
}

.carouselText {
    transition: all 2s ease
}

h2.carouselText {
    font-weight: 800;
    color: var(--font-color)
}

#carouselLeft .carouselText {
    opacity: 0
}

#carouselRight .carouselText {
    opacity: 0
}

#carouselCenter .carouselText {
    opacity: 1
}

#carouselCenter .carouselImg {
    box-shadow: 0 0 1rem .5rem #000300;
}

.carouselImg {
    transition: all .5s ease
}

.carouselImg:hover {
    transform: scale(1.02)
}

.carouselImg:active {
    transform: scale(0.98)
}

#mainContent {
    margin-top: var(--nav-bar-height-dynamic)
}

:root {
    --page-indicator: #cdcbca;
    --page-indicator-active: #22223b
}

#splashContent {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100vw
}

#splashContentInner {
    display: flex;
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between
}

.splashTextContent {
    padding: 1rem;
    max-width: 50%
}

.splashTextContent p {
    margin: 0;
    padding: 0
}

.splashTextContent p b {
    font-weight: 900;
    color: var(--font-color);
    font-size: 2.5rem
}

.splashTextContent p b a {
    color: var(--font-color-light)
}

.splashImgContent {
    display: grid;
    transform: scale(1.3);
    width: 17rem
}

.splashImgContent div {
    grid-row: 1;
    grid-column: 1
}

.square1 {
    border-radius: 1rem;
    width: 12rem;
    height: 12rem;
    background-color: #22223b;
    transform: rotate(2.5deg);
    z-index: 15
}

.square2 {
    border-radius: 1.2rem;
    width: 6rem;
    height: 6rem;
    background-color: #323264;
    transform: rotate(6.5deg);
    transform: translate(-3rem, -3rem);
    z-index: 14
}

.square3 {
    border-radius: 2em;
    width: 3rem;
    height: 3rem;
    background-color: #b4b6de;
    transform: rotate(6.5deg);
    transform: translate(1rem, -1.5rem);
    z-index: 14
}

.square4 {
    border-radius: 1em;
    width: 4rem;
    height: 4rem;
    background-color: #464697;
    transform: rotate(-32deg);
    transform: translate(-2rem, 2rem);
    z-index: 14
}

.square5 {
    border-radius: 1em;
    width: 6rem;
    height: 6rem;
    background-color: #4b4b7a;
    transform: rotate(-10deg);
    transform: translate(9rem, 9rem);
    z-index: 14
}

.square6 {
    border-radius: 1.5em;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #7073bf;
    transform: rotate(5deg);
    transform: translate(7rem, 10rem);
    z-index: 14
}

#pageIndicator {
    z-index: 195;
    position: fixed;
    bottom: 1rem
}

.pageIndicatorElement {
    background-color: var(--page-indicator);
    width: .8rem;
    height: .8rem;
    margin: .2rem;
    border-radius: 1rem;
    transition: all .25s ease
}

.pageIndicatorElement:hover {
    transform: scale(1.25)
}

.pageIndicatorElement:active {
    transform: scale(0.8)
}

.pageIndicatorElementActive {
    transform: scale(1.25);
    background-color: var(--page-indicator-active)
}

:root {
    --nav-bar-height: 4rem;
    --nav-bar-height-mobile: 4rem;
    --nav-bar-color: #faf9f6;
    --nav-bar-font-color: #22223b;
    --nav-bar-item-padding: .5rem;
    --nav-bar-max-width: 75rem;
    --gradient-angle: 45deg;
    --gradient-time: 30s;
    --gradient-1: #ffafbd;
    --gradient-2: #2193b0;
    --gradient-3: #cc2b5e;
    --gradient-4: #de6262;
    --gradient-5: #56ab2f;
    --header-height: 20rem;
    --header-font-color: #fff;
    --footer-height: 4rem;
    --footer-color: #fff;
    --scroll-bar-color: #e0e0e0;
    --scroll-bar-width: .5rem;
    --font-color: #22223b;
    --font-color-light: #4659dc;
    --max-width: 50rem;
    --body-color: #faf9f6
}

@media screen and (max-width:450px) {
    #navElements {
        display: none
    }
    #hamburgerMenu {
        display: visible
    }
    #mainContent section {
        width: 90vw
    }
    nav {
        height: var(--nav-bar-height-mobile)
    }
    #header h1 {
        margin: .2rem;
        padding-top: 2rem;
        font-size: 1.6rem;
        text-align: center
    }
     :root {
        --nav-bar-height-dynamic: var(--nav-bar-height-mobile);
        --header-height: 12rem
    }
}

@media screen and (min-width:450px) {
    #hamburgerMenu {
        display: none
    }
    nav {
        height: var(--nav-bar-height)
    }
    #mainContent section {
        width: 80vw
    }
    #navElements {
        right: 1.8rem
    }
    #header h1 {
        margin: 1rem;
        padding-top: 1rem;
        font-size: 1.5rem;
        text-align: center
    }
     :root {
        --nav-bar-height-dynamic: var(--nav-bar-height);
        --header-height: 10rem
    }
}

@media screen and (min-width:800px) {
    #navElements {
        right: auto
    }
    #header h1 {
        padding-top: 0;
        font-size: xx-large;
        text-align: left
    }
    #mainContent section {
        width: 60vw
    }
     :root {
        --nav-bar-height-dynamic: var(--nav-bar-height);
        --header-height: 20rem
    }
}

html {
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0
}

.htmlStopScroll {
    overflow: hidden
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    background-color: var(--body-color);
    align-items: center;
    max-width: 100vw;
    overflow-x: hidden
}

#mainContent {
    min-height: calc(100vh - var(--footer-height));
    width: 100vw
}

#mainContent>section {
    max-width: var(--max-width)!important;
    padding: 0;
    margin: 0
}

nav {
    box-sizing: border-box;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: fixed;
    top: 0;
    z-index: 200
}

div#navLogo {
    padding: 0 0 0 2rem;
    position: absolute;
    left: 0;
    z-index: 500
}

div#navLogo p {
    transition: color .5s ease;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 900
}

.logoColorMenuClosed {
    color: var(--nav-bar-font-color)
}

.logoColorMenuOpen {
    color: var(--body-color)
}

nav>ul {
    position: absolute;
    margin: 0;
    padding: 0
}

nav ul li {
    display: inline;
    float: left;
    padding: 0 var(--nav-bar-item-padding) 0 var(--nav-bar-item-padding);
    transition: all .25s ease;
    user-select: none;
    font-weight: 400
}

ul li:hover {
    transform: scale(1.05)
}

ul li:active {
    transform: scale(0.95)
}

.nav-current {
    font-weight: 900
}

nav.overHeader {
    background-color: #fff000
}

nav.overHeader li {
    color: var(--nav-bar-color)
}

nav.overHeader>div>p {
    color: var(--body-color)!important
}

nav.overHeader span {
    background-color: var(--body-color)!important
}

nav.belowHeader {
    background-color: var(--nav-bar-color)
}

nav.belowHeader li {
    color: var(--nav-bar-font-color)
}

#hamburgerBtn {
    display: grid;
    height: 1rem;
    position: absolute;
    right: calc(var(--nav-bar-height-mobile) / 4);
    top: calc(var(--nav-bar-height-mobile) / 4)
}

#hamburgerMenu span {
    z-index: 255;
    border-radius: .2rem;
    margin: .1rem;
    width: 2rem;
    height: .3rem;
    background-color: var(--font-color)
}

#hamburgerMenuBtn {
    z-index: 270;
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 2rem;
    height: 2rem
}

#hamburgerMenuBtn:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(0.5rem, 0.5rem)
}

#hamburgerMenuBtn:checked~span:nth-child(3) {
    transform: scale(0)
}

#hamburgerMenuBtn:checked~span:nth-child(4) {
    transform: rotate(-45deg)
}

#hamburgerMenuBtn:checked~span {
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: 0rem;
    background-color: var(--body-color)
}

#hamburgerMenuBtn~span {
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: .1rem;
    transform: rotate(0) translateY(0) scale(1)
}

#hamburgerContent {
    top: 0;
    width: 100vw;
    z-index: 250;
    height: 100vh;
    position: absolute;
    background-color: var(--nav-bar-font-color);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.hamburgerContentVisible {
    left: 0
}

.hamburgerContentInvisible {
    left: 100%
}

#hamburgerElements {
    margin: 5rem 0 0 0;
    padding-left: 2rem
}

#hamburgerElements li {
    float: none
}

#hamburgerElements li p {
    font-size: 2.5rem;
    color: var(--body-color);
    margin: .2rem 0 0 0;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1)
}

#hamburgerElements li p:hover {
    transform: scale(1.05)
}

#hamburgerElements li p:active {
    transform: scale(0.95)
}

footer {
    bottom: 0;
    height: var(--footer-height);
    background-color: var(--footer-color)
}

footer ul {
    margin: 0;
    padding: 0
}

footer ul li {
    display: inline;
    float: left;
    padding: 0 var(--nav-bar-item-padding) 0 var(--nav-bar-item-padding);
    color: var(--nav-bar-font-color);
    transition: all .25s ease;
    user-select: none;
    font-weight: 400
}

.foot-current {
    font-weight: 600
}

.gradient {
    background: linear-gradient(var(--gradient-angle), var(--gradient-1), var(--gradient-2), var(--gradient-3), var(--gradient-4), var(--gradient-5));
    background-size: 500%, 500%;
    animation: gradientTransition var(--gradient-time) infinite
}

@keyframes gradientTransition {
    0% {
        background-position: 0, 50%
    }
    50% {
        background-position: 100%, 50%
    }
    100% {
        background-position: 0, 50%
    }
}

::-webkit-scrollbar {
    width: var(--scroll-bar-width)
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color)
}

#header {
    transition: height .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: var(--header-height)
}

#header>h1 {
    transition: font-size .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--header-font-color)
}

.flex-vertical-horizontal {
    display: flex;
    justify-content: center;
    align-items: center
}

.flex-horizontal {
    display: flex;
    align-items: center
}

.flex-row {
    display: flex;
    flex-direction: row
}

.flex-column {
    display: flex;
    flex-direction: column
}

.full-width {
    width: 100vw
}

.full-height {
    height: 100vh
}

.invisible {
    visibility: hidden;
    position: absolute
}

.max-width {
    max-width: var(--max-width)
}

iframe {
    position: absolute;
    top: 4rem;
    border: 0;
    width: 100vw;
    height: 200vh
}

@media screen and (max-width:450px) {
    .shortcutParent {
        display: none
    }
}

:root {
    --width: 40rem;
    --interactive-background-color: #e6e6e6
}

#practicality>div {
    padding: 1rem
}

.rules {
    max-width: var(--width)!important
}

.rules h1 {
    margin: 0;
    padding: 5rem 0 0 0;
    font-size: 2rem
}

.rules img {
    max-width: var(--width);
    width: 100%;
    border-radius: .5rem
}

.interactiveSection {
    gap: 1rem;
    max-width: var(--width);
    width: 100%;
    border-radius: .5rem;
    height: auto;
    background-color: var(--interactive-background-color);
    z-index: 1
}

.folderParent {
    padding: 1rem 0 1rem 0
}

.folderContainer {
    background-color: #fff000;
    transition: all .1s ease-in-out;
    border: #fff000 solid .1rem;
    border-radius: .5rem
}

.folderContainer:focus {
    background-color: #c4c4c49a;
    border: #6b6b6b solid .1rem;
    border-radius: .5rem
}

.folderContainer:hover {
    background-color: #c4c4c49a;
    border-radius: .5rem
}

.folder {
    padding: 1.5rem 0 2.5rem 0;
    width: 7rem;
    height: 4rem;
    display: flex;
    justify-content: center
}

.folder>span:first-child {
    width: 6rem;
    height: 4rem;
    background: #62c5ff;
    position: absolute;
    border-radius: .25rem;
    z-index: 10
}

.folder>span:nth-child(2) {
    width: 6rem;
    height: 4rem;
    background: #0971ad;
    position: absolute;
    border-radius: .25rem;
    z-index: 9;
    transform: translateY(-0.5rem)
}

.folder>span:nth-child(3) {
    width: 2rem;
    height: 4rem;
    background: #0971ad;
    position: absolute;
    border-radius: .25rem;
    z-index: 9;
    transform: translate(-2rem, -0.8rem)
}

.folder>span:nth-child(4) {
    transform: translateY(5rem);
    height: 1rem;
    font-weight: bold;
    color: #4b4b4b
}

.folderFiles>span:nth-child(5) {
    width: 5rem;
    height: 4rem;
    background: #e2e2e2;
    position: absolute;
    border-radius: .1rem;
    z-index: 9;
    transform: translateY(-0.4rem) rotate(2deg)
}

.folderFiles>span:nth-child(6) {
    width: 5rem;
    height: 4rem;
    background: #d1d1d1;
    position: absolute;
    border-radius: .1rem;
    z-index: 9;
    transform: translateY(-0.3rem) rotate(-2deg)
}

.menuBarClass {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.menuBarClass>div:first-child {
    display: flex;
    max-width: var(--width);
    width: 100%;
    height: 1.4rem;
    background: #cfcfcf;
    border-radius: .5rem;
    z-index: 10;
    align-items: center;
    justify-content: flex-end
}

.menuContent {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between
}

.menuFlex {
    gap: 1rem
}

.menuBtns {
    position: absolute;
    padding-right: .5rem;
    display: flex;
    gap: .5rem
}

.menuBtns>span:first-child {
    width: .7rem;
    height: .7rem;
    background: #00b63d;
    border-radius: 5rem;
    z-index: 10
}

.menuBtns>span:nth-child(2) {
    width: .7rem;
    height: .7rem;
    background: #f90;
    border-radius: 5rem;
    z-index: 10
}

.menuBtns>span:nth-child(3) {
    width: .7rem;
    height: .7rem;
    background: #ff3939;
    border-radius: 5rem;
    z-index: 10
}

.menuTitle {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.normMenu {
    width: 7rem;
    height: 7rem;
    z-index: 10;
    background: #00b63d;
    border-radius: 100%
}

.warnMenu {
    width: 7rem;
    height: 7rem;
    z-index: 10;
    background: #ec9e28;
    border-radius: 5%
}

.errorMenu {
    z-index: 10;
    border-left: 3.5rem solid transparent;
    border-right: 3.5rem solid transparent;
    border-bottom: 7rem solid #ff4027
}

.menuButtonString {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end
}

.menuButtonContainer {
    float: right;
    gap: .7rem;
    display: flex
}

.menuButton>p {
    font-weight: 500;
    padding: .2rem .3rem .2rem .3rem;
    background-color: #dbdbdb9a;
    color: #383838;
    border: #7e7e7e solid .1rem;
    border-radius: .5rem;
    font-size: .8rem
}

.cancelButton>p {
    color: #c21e1e!important;
    border: #c21e1e solid .1rem
}

.menuContent>div {
    width: 80%;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center
}

.menuContent>div>h2 {
    color: #292929;
    font-size: 1.2rem;
    margin: 0
}

.menuContent>div p {
    color: #292929;
    font-size: 1rem;
    margin: 0
}

.outerBar {
    width: 100%;
    height: 1.25rem;
    background: #c7c2c2;
    border-radius: .5rem;
    z-index: 10
}

.innerBar {
    width: 25%;
    background: #00b63d;
    height: 1.25rem;
    border-radius: .5rem
}

.shortcutParent {
    align-items: center;
    padding: 1rem 0 1rem 0;
    flex-direction: row;
    justify-content: space-evenly
}

.shortcutBox {
    display: flex;
    gap: 1rem
}

.shortcutBox>p {
    font-weight: 600;
    padding: .6rem;
    background-color: #c4c4c49a;
    color: #313131;
    border: #6b6b6b solid .1rem;
    border-radius: .5rem;
    transition: all .1s ease-in-out
}

.shortcutBoxActive>p {
    color: #0f5769;
    transform: scale(1.03)
}