@media screen and (max-width: 450px) {
    .shortcutParent {
        display: none;
    }
    .menuFlex {
        flex-wrap: wrap;
    }
}

:root {
    --box-size: 3rem;
    --box-font-size: 2rem;
    --box-font-weight: 500;
    --box-font-color: #747474;
    --box-normal-color: #aaa7a7;
    --box-hover-color: #009ffd;
    --box-active-color: #00bcd4;
    --box-scale-by: 0.02;
}


/*
 The following styles are for the interactive elements
*/


/*
    Spoitfy
*/

.spotifyContainer {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 0;
}

.pcScreen {
    width: 15rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pcScreen>img {
    border-radius: 0.5rem;
    width: 14rem;
    height: auto;
    background-color: #c0c0c0;
    border: 0.3rem solid #c0c0c0;
    border-bottom: 1rem solid #c0c0c0;
    z-index: 10;
}

.pcScreen>span:nth-child(2) {
    border-right: 3rem solid transparent;
    border-left: 3rem solid transparent;
    border-bottom: 4rem solid #818181;
    transform: translateY(-3rem);
}

.tabletScreen {
    width: 5.5rem;
}

.tabletScreen>img {
    border-radius: 0.5rem;
    width: 5rem;
    height: auto;
    background-color: #c0c0c0;
    border: 0.3rem solid #c0c0c0;
    border-bottom: 0.5rem solid #c0c0c0;
    z-index: 10;
}

.mobileScreen {
    width: 3.5rem;
}

.mobileScreen>img {
    border-radius: 0.5rem;
    width: 3rem;
    height: auto;
    background-color: #c0c0c0;
    border: 0.3rem solid #c0c0c0;
    border-bottom: 0.5rem solid #c0c0c0;
    z-index: 10;
}

.spoHover {
    transition: transform 0.2s ease-out;
}

.spoHover:hover {
    transform: scale(1.05);
}


/* Section 1, Feedback */

.folderParent {
    padding: 1rem 0 1rem 0
}

.folderContainer {
    background-color: #ffffff00;
    transition: all 0.1s ease-in-out;
    border: #ffffff00 solid 0.1rem;
    border-radius: 0.5rem;
}

.folderContainer:focus {
    background-color: #c4c4c49a;
    border: #6b6b6b solid 0.1rem;
    border-radius: 0.5rem;
}

.folderContainer:hover {
    background-color: #c4c4c49a;
    border-radius: 0.5rem;
}

.folder {
    padding: 1.5rem 0 2.5rem 0;
    width: 7rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.folder>span:first-child {
    width: 6rem;
    height: 4rem;
    background: #62c5ff;
    position: absolute;
    border-radius: 0.25rem;
    z-index: 10;
}

.folder>span:nth-child(2) {
    width: 6rem;
    height: 4rem;
    background: #0971ad;
    position: absolute;
    border-radius: 0.25rem;
    z-index: 9;
    transform: translateY(-0.5rem);
}

.folder>span:nth-child(3) {
    width: 2rem;
    height: 4rem;
    background: #0971ad;
    position: absolute;
    border-radius: 0.25rem;
    z-index: 9;
    transform: translate(-2rem, -0.8rem);
}

.folder>span:nth-child(4) {
    transform: translateY(5rem);
    height: 1rem;
    font-weight: bold;
    color: #4b4b4b;
}

.folderFiles>span:nth-child(5) {
    width: 5rem;
    height: 4rem;
    background: #e2e2e2;
    position: absolute;
    border-radius: 0.1rem;
    z-index: 9;
    transform: translateY(-0.4rem) rotate(2deg);
}

.folderFiles>span:nth-child(6) {
    width: 5rem;
    height: 4rem;
    background: #d1d1d1;
    position: absolute;
    border-radius: 0.1rem;
    z-index: 9;
    transform: translateY(-0.3rem) rotate(-2deg);
}


/* Section 2, loading bar */

.menuBarClass {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menuBarClass>div:first-child {
    display: flex;
    width: 100%;
    height: 1.4rem;
    background: #cfcfcf;
    border-radius: 0.5rem;
    z-index: 10;
    align-items: center;
    justify-content: flex-end;
}

.menuContent {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.menuFlex {
    gap: 1rem;
}


/*
    the 3 buttons in the menu bar
*/


/* parent container */

.menuBtns {
    position: absolute;
    padding-right: 0.5rem;
    display: flex;
    gap: 0.5rem;
}


/* Maximize */

.menuBtns>span:first-child {
    width: 0.7rem;
    height: 0.7rem;
    background: #00b63d;
    border-radius: 5rem;
    z-index: 10;
}


/* Minimize */

.menuBtns>span:nth-child(2) {
    width: 0.7rem;
    height: 0.7rem;
    background: #ff9900;
    border-radius: 5rem;
    z-index: 10;
}


/* close */

.menuBtns>span:nth-child(3) {
    width: 0.7rem;
    height: 0.7rem;
    background: #ff3939;
    border-radius: 5rem;
    z-index: 10;
}


/* Menu title */

.menuTitle {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Downloading files icon */

.normMenu {
    width: 7rem;
    height: 7rem;
    z-index: 10;
    background: #00b63d;
    border-radius: 100%;
}


/* Limited diskspace icon */

.warnMenu {
    width: 7rem;
    height: 7rem;
    z-index: 10;
    background: #ec9e28;
    border-radius: 5%;
}


/* Out of disk space icon */

.errorMenu {
    z-index: 10;
    border-left: 3.5rem solid transparent;
    border-right: 3.5rem solid transparent;
    border-bottom: 7rem solid #ff4027;
}


/* Flex box that aligins the text within the box and the buttons */

.menuButtonString {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}


/* This is the buttons parent */

.menuButtonContainer {
    float: right;
    gap: 0.7rem;
    display: flex;
}


/* the continue/cancel button text */

.menuButton>p {
    font-weight: 500;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    background-color: #dbdbdb9a;
    color: #383838;
    border: #7e7e7e solid 0.1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.cancelButton>p {
    color: #c21e1e!important;
    border: #c21e1e solid 0.1rem;
}

.menuContent>div {
    width: 80%;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.menuContent>div>h2 {
    color: #292929;
    font-size: 1.2rem;
    margin: 0;
}

.menuContent>div p {
    color: #292929;
    font-size: 1rem;
    margin: 0;
}


/* Loading bar background */

.outerBar {
    width: 100%;
    height: 1.25rem;
    background: #c7c2c2;
    border-radius: 0.5rem;
    z-index: 10;
}


/* Loading bar */

.innerBar {
    width: 25%;
    background: #00b63d;
    height: 1.25rem;
    border-radius: 0.5rem;
}


/* Shortcut box */

.shortcutParent {
    align-items: center;
    padding: 1rem 0 1rem 0;
    flex-direction: row;
    justify-content: space-evenly;
}

.shortcutBox {
    display: flex;
    gap: 1rem;
}

.shortcutBox>p {
    font-weight: 600;
    padding: 0.6rem;
    background-color: #c4c4c49a;
    color: #313131;
    border: #6b6b6b solid 0.1rem;
    border-radius: 0.5rem;
    transition: all 0.1s ease-in-out;
}

.shortcutBoxActive>p {
    color: #0f5769;
    transform: scale(1.03);
}

#otpParent {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tfaInputBox {
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
    caret-color: transparent;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-radius: 0.7rem;
    border-width: 0.15rem;
    border-color: var(--box-normal-color);
    color: var(--box-font-color);
    font-size: var(--box-font-size);
    font-weight: var(--box-font-weight);
    width: var(--box-size);
    height: var(--box-size);
}

.tfaInputBox:hover {
    border-radius: 0.6rem;
    border-width: 0.18rem;
    border-color: var(--box-hover-color);
    transform: scale(calc(1 + var(--box-scale-by)));
}

.tfaInputBox:focus {
    outline: none;
    border-width: 0.15rem;
    transform: scale(1);
    border-color: var(--box-active-color);
}

.tfaInputBox:active {
    transform: scale(calc(1 - var(--box-scale-by)));
}

.otpFeild {
    padding: 1rem 0 1rem 0;
}

.tfaInputNorm {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
}